.bank-masterlist-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #494648;
  color: white;
}

tr:hover {
  background: #f1f1f1;
}

