/* Upload Modal Styles */
.upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.upload-modal-content {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 450px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.upload-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.upload-tabs button {
  padding: 8px 15px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.upload-tabs .active-tab {
  background: #1976d2;
  color: white;
}

.upload-section {
  margin: 15px 0;
}

.upload-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btns-upload {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transaction-table th,
.transaction-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transaction-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.transaction-table tr:hover {
  background-color: #fafafa;
}

.delete-btn {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #e60000;
}

.save-btn {
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.save-btn:hover {
  background-color: #0056b3;
}
