.page-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #f3f4f6;
  min-height: 100vh;
  box-sizing: border-box;
}


.capital-form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.capital-form-container h2 {
  margin-bottom: 20px;
  color: #1f2937;
  font-size: 22px;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 8px;
}

.sale-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.sale-table th,
.sale-table td {
  padding: 12px;
  border: 1px solid #e2e8f0;
  text-align: left;
}

.sale-table input,
.sale-table select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  background-color: #ffffff;
}

.readonly input {
  background-color: #f1f5f9;
  font-weight: bold;
}

.save-btn {
  margin-top: 30px;
  background-color: #195f22;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #1d4ed8;
}
.search-btn{
  background-color: rgb(226, 56, 56);
  color: white;
}