.employer-list-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-right: 70px;
  margin-top: 100px;
}

.employer-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.employer-table {
  width: 100%;
  border-collapse: collapse;
}

.employer-table th,
.employer-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.employer-table th {
  background-color: #b6c1cc;
  color: rgb(15, 14, 14);
}

.btn-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-edit,
.btn-delete {
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.btn-edit {
  background-color: #ffc107;
  color: black;
}

.btn-edit:hover {
  background-color: #e0a800;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}
