.form-wrapper {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #7c7979;
}

.top-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.top-nav button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
}

.top-nav button.active {
  background-color: #6200ea;
  color: #ffffff;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.form-row input,
.form-row select {
  flex: 1 1 200px;
  padding: 8px;
  font-size: 16px;
}

.submit-button {
  padding: 10px;
  background-color: #6200ea;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #3700b3;
}



/* .form-wrapper {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #666262;
}

.top-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.top-nav button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
}

.top-nav button.active {
  background-color: #6200ea;
  color: #ffffff;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.form-row input,
.form-row select {
  flex: 1 1 200px;
  padding: 8px;
  font-size: 16px;
}


.button-group {
  display: flex;
  justify-content: flex-end;
  /* gap: 10px;
  font-size: 16px; */
  /* border: none;
  border-radius: 4px;
  padding: 8px 20px;
  margin-top: auto; */
  /* position: inherit;
}


.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.save-btn {
  background-color: #4caf50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.back-btn {
  background-color: #9e9e9e;
  color: white;
}

.icon-btn {
  background-color: #2196f3;
  color: white;
  padding: 10px;
  font-size: 18px;
} */ 