/* src/components/FirstPage.css */
.master-form-container{
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #bdb1b1;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #333;
}

.master-form-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.master-form-table th,
.master-form-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.master-form-table th {
  background-color: #f2f2f2;
}

.master-form-table select,
.master-form-table input[type='text'] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.button-group {
  margin-top: 10px;
}

.button-group button {
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
}
.add-btn{
  top:5px;
  right: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: rgb(79, 64, 214);
  color: white;
}
.edit-btn{
  margin-right: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: rgb(214, 64, 194);
  color: white;
}
.remove-btn{
  margin-right: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: rgb(182, 41, 41);
  color: white;
}