.master-container{
 display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 90vh;           /* Full viewport height */
  background-color: #f9f9f9;
}
.form-wrapper{
  background-color: #9d98a1;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; 
}
.mfirst-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.add-button,
.back-button,
.save-btn,
.edit-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button {
  background-color: #28a745;
  color: white;
}

.back-button {
  background-color: #6c757d;
  color: white;
}

.save-btn {
  background-color: #007bff;
  color: white;
  margin-right: 5px;
}

.edit-btn {
  background-color: #ffc107;
  color: black;
  margin-right: 5px;
}

.master-property-table {
  width: 90%;
  border-collapse: collapse;
}

.master-property-table th,
.master-property-table td {
  border: 1px solid #dee2e6;
  padding: 16px;
  margin-right: 16px;
  text-align: center;
}

.master-property-table th {
  background-color: #f8f9fa;
  padding-inline: 2px;
}
.update-btn{
    background-color: #48a75e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}
.btn{
  background-color: rgb(2, 24, 4);
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
   margin-bottom: 10px;
}
.btn-next3{
  background-color: rgb(209, 55, 150);
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}
.remove-btn{
  background-color: firebrick;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}