.sft-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-family: Arial, sans-serif;
  margin-top: 60px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sft-form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btnss {
  flex: 1;
  /* padding: 10px; */
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  /* color: #fff; */
 
  
}

.save-btnss {
  background-color: #28a745;
  color: #ccc;
}

.view-btnss {
  background-color: #007bff;
}
